<head>
    <link rel="stylesheet" type="text/css" href="../css/individual.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid" ng-show="sharedDataService.loggedIn">
        <table align="center" cellpadding="22">
            <tr><th>All your new requests, accept or refuse them:</th></tr>
            <tr>
                <th>Company VAT Number</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="individualRequest in pendingRequests">
                <td>{{individualRequest.thirdParty.vat}}</td>
                <td>
                    <button class="action" ng-click="acceptRequest(individualRequest.thirdParty.vat)">Accept</button>
                    <button class="action" ng-click="refuseRequest(individualRequest.thirdParty.vat)">Refuse</button>
                </td>
            </tr>
        </table>

        <table align="center" cellpadding="22">
            <tr><th>All your accepted requests, you can refuse them if you want:</th></tr>
            <tr>
                <th>Company VAT Number</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="individualRequest in activeRequests">
                <td>{{individualRequest.thirdParty.vat}}</td>
                <td>
                    <button class="action" ng-click="refuseRequest(individualRequest.thirdParty.vat)">Refuse</button>
                </td>
            </tr>
        </table>

    </div>

</body>
