<head>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/individual.css">
</head>

<body>

<div ng-show="sharedDataService.loggedIn" class="container-fluid">
    <table align="center" cellpadding="22">
        <tr>
            <th><h4>Your Fiscal code:</h4></th>
            <th><h4 ng-bind="fiscalCode"></h4></th>
        </tr>
        <tr>
            <th><h4>Old password:</h4></th>
            <td><input class="textArea" type="password" ng-model="oldPassword"></td>
        </tr>

        <tr>
            <th><h4>New password:</h4></th>
            <td><input class="textArea" type="password" ng-model="newPassword" minlength="6"></td>
        </tr>
    </table>
    <button class="submit" ng-click="updatePassword()">Update</button>
    <p ng-bind="passReqResult"></p>

    <hr>

    <div align="center" >
        <h3>Automated SOS</h3>
        <p>You can enable or disable the service at any time.</p>
        <button type="button" ng-click="toggleAutomatedSOS()" >{{ sharedDataService.automatedSOS ? 'Disable' : 'Enable' }}</button>
        <p ng-bind="resultSOS"></p>
    </div>

    <hr>

    <table align="center" cellpadding="22">
        <tr>
            <th><h4>New latitude:</h4></th>
            <td><input class="textArea" type="number" ng-model="newLatitude"></td>
        </tr>

        <tr>
            <th><h4>New longitude:</h4></th>
            <td><input class="textArea" type="number" ng-model="newLongitude"></td>
        </tr>
    </table>
    <button class="submit" ng-click="updateCoordinates()">Update</button>
    <p ng-bind="coordReqResult"></p>
</div>

</body>
