<div ng-show="sharedDataService.loggedIn">
    <h1>All your new requests, accept or refuse them:</h1>
    <table>
        <tr>
            <th>Company VAT Number</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="notification in pendingRequests">
            <td>{{notification.individualRequest.thirdParty.vat}}</td>
            <td>
                <button ng-click="acceptRequest(notification.individualRequest.thirdParty.vat)">Accept</button>
                <button ng-click="refuseRequest(notification.individualRequest.thirdParty.vat)">Refuse</button>
            </td>
        </tr>
    </table>

    <h1>All your accepted requests, you can refuse them if you want:</h1>
    <table>
        <tr>
            <th>Company VAT Number</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="notification in activeRequests">
            <td>{{notification.individualRequest.thirdParty.vat}}</td>
            <td>
                <button ng-click="refuseRequest(notification.individualRequest.thirdParty.vat)">Refuse</button>
            </td>
        </tr>
    </table>

    <div>
        <button ng-controller="individualLogoutController" ng-click="logout()">Logout</button>
    </div>
    <div>
        <a href="#!home"><button class="btn">Home Page</button></a>
    </div>
</div>
