<head>
    <link rel="stylesheet" type="text/css" href="../css/individual.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
</head>

<body>

<div ng-show="sharedDataService.loggedIn" class="container-fluid">
    <table align="center" cellpadding="22">
        <tr>
            <th>Your Fiscal code:</th>
            <th><p ng-bind="fiscalCode"></p></th>
        </tr>
        <tr>
            <th>Old password:</th>
            <td><input type="password" ng-model="oldPassword"></td>
        </tr>

        <tr>
            <th>New password:</th>
            <td><input type="password" ng-model="newPassword" minlength="6"></td>
        </tr>
    </table>

    <button class="submit" ng-click="updatePassword()">Update</button>
    <p ng-bind="passReqResult"></p>

    <table align="center" cellpadding="22">
        <tr>
            <th>New latitude:</th>
            <td><input type="number" ng-model="newLatitude"></td>
        </tr>

        <tr>
            <th>New longitude:</th>
            <td><input type="number" ng-model="newLongitude"></td>
        </tr>
    </table>
    <button class="submit" ng-click="updateCoordinates()">Update</button>
    <p ng-bind="coordReqResult"></p>
</div>

</body>
